<div class="login-page">
  <ion-card>
    <img src="assets/images/LogoTinderF.png" alt="logo" class="brand-logo" />
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
      <ion-card-subtitle>Sign in to continue</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="LoginForm" (ngSubmit)="login()">
        <app-input
          label="Email"
          placeholder="example@gmail.com"
          type="email"
          formControlName="email"
        ></app-input>
        <div class="field-error" *ngIf="showErrors('email')">
          {{ getErrorMessage('email') }}
        </div>

        <app-input
          label="Password"
          placeholder="*******"
          type="password"
          formControlName="password"
        ></app-input>
        <div class="field-error" *ngIf="showErrors('password')">
          {{ getErrorMessage('password') }}
        </div>

        <div class="actions">
          <app-button
            label="Login"
            type="submit"
            [disabled]="!LoginForm.valid"
          ></app-button>
        </div>

        <div class="links">
          <app-link
            class="link"
            [to]="'/register'"
            [label]="'Don\'t have an account? Register'"
          ></app-link>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</div>
