<ion-card>
  <ion-card-header>
    <ion-card-title>LOGIN</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <div>
      <form [formGroup]="LoginForm" (ngSubmit)="login()">
        <app-input
          label="Email"
          placeholder="example@gmail.com"
          type="email"
          formControlName="email"
        ></app-input>

        <app-input
          label="Password"
          placeholder="*******"
          type="password"
          formControlName="password"
        ></app-input>

        <app-button label="Login" type="submit" [disabled]="!LoginForm.valid">
        </app-button>

        <app-link
          class="link"
          [to]="'/register'"
          [label]="'Don\'t have an account? Register'"
        ></app-link>
      </form>
    </div>
  </ion-card-content>
</ion-card>
