<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>
  <div
    class="page-wrapper"
    style="padding: 16px; display: flex; justify-content: center"
  >
    <div style="display: flex; gap: 12px; align-items: center">
      <app-button label="Edit profile" (click)="goToUpdate()"></app-button>
      <app-button label="Log out" (click)="logout()"></app-button>
    </div>
  </div>
</ion-content>
