
@import "@ionic/angular/css/core.css";


@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";


@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


ion-app, ion-content, .ion-page {
	background: #0f0f0f; 
	color: #fff;
}

.app-center {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}


.brand-logo {
	display: block;
	margin: 0 auto 12px auto;
	width: 120px;
}

ion-card {
	background: #0b0b0b !important;
	color: #ffffff ;
	border-radius: 12px;
	border: 1px solid rgba(255,255,255,0.03);
}

ion-card ion-label,
ion-card .custom-input ion-label,
ion-card ion-item,
ion-card p,
ion-card h1,
ion-card h2,
ion-card h3 {
	color: #fff;
}


ion-item {
	--background: transparent;
	color: #fff;
}

.app-toast {
	--background: transparent;
}

.app-toast .toast-wrapper {
	background: #dc6f59;
	color: #fff;
	padding: 12px 16px;
	border-radius: 12px;
	box-shadow: 0 8px 20px rgba(0,0,0,0.45);
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 10px;
	font-weight: 600;
}

.app-toast--default .toast-wrapper,
.app-toast--success .toast-wrapper,
.app-toast--error .toast-wrapper {
    background: #dc6f59;
    color: #fff;
}

.app-toast .toast-message {
	white-space: normal;
	line-height: 1.2;
	font-size: 14px;
	flex: 1 1 auto;
	text-align: center;
}


ion-toast.app-toast,
ion-toast.app-toast--default,
ion-toast.app-toast--success,
ion-toast.app-toast--error {
	--background: #dc6f59;
	--color: #ffffff;
	--border-radius: 12px;
	--max-width: 92%;
	--transform-origin: center bottom;
}

ion-loading.app-loader,
ion-loading.app-loader {
	--background: #dc6f59
	--color: #f41448;
	--border-radius: 12px;
}

.app-loader .loading-wrapper {
	background: #dc6f59;
	color: #fff;
	padding: 14px 18px;
	border-radius: 12px;
	display: flex;
	align-items: center;
	gap: 12px;
}

.app-loader .loading-wrapper ion-spinner {
	color: #f41448;
}

.app-loader .loading-wrapper .loading-text,
.app-loader .loading-wrapper .loading-message {
	color: #fff;
}