
@import "@ionic/angular/css/core.css";


@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";


@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


ion-app, ion-content, .ion-page {
	background: #0f0f0f; 
	color: #fff;
}

.app-center {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}


.brand-logo {
	display: block;
	margin: 0 auto 12px auto;
	width: 120px;
}

ion-card {
	background: #0b0b0b !important;
	color: #ffffff ;
	border-radius: 12px;
	border: 1px solid rgba(255,255,255,0.03);
}

ion-card ion-label,
ion-card .custom-input ion-label,
ion-card ion-item,
ion-card p,
ion-card h1,
ion-card h2,
ion-card h3 {
	color: #fff;
}


ion-item {
	--background: transparent;
	color: #fff;
}


